#history > h3 
{
  display: none;
}

/************ Issue Wiki Page tabs ***********/
.issue_wiki_tabs { position: relative; width: 100%; list-style: none; overflow: hidden; }
.issue_wiki_tabs li {  display: inline; }
.issue_wiki_tabs li a { padding: 5px 10px; color: black; text-decoration: none; border: 1px solid #ccc; float: left; display: block; margin-left: -1px; position: relative; left: 1px; border-radius: 3px; background: rgb(221, 221, 221);}
.issue_wiki_tabs li a:hover { color: #fff; background: #000; }
.issue_wiki_tabs li a.selected { background-color:#9DB9D5; color:#fff;}
.issue_wiki_tabs { overflow: hidden; padding: 0px 30px 0px 30px; position: relative; top: -1px; }
.issue_wiki_tabs { display: none; overflow: auto; display: block; position: relative; overflow-x: hidden; }
.issue_wiki_tabs .iwt { display: block; }

/************ Issue Wiki Section forms ***********/
.iws_edit_form { max-width: 700px; }

.iws_edit_form_grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.iws_edit_form_grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.iws_edit_form_grey h1>span {
    display: block;
    font-size: 11px;
}
.iws_edit_form_grey label {
    display: block;
    margin: 0px;
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;    
}

.iws_edit_form_grey input[type="text"], .iws_edit_form_grey input[type="email"], .iws_edit_form_grey textarea, .iws_edit_form_grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.iws_edit_form_grey textarea{
    padding: 5px 3px 3px 5px;
}
.iws_edit_form_grey select {
    background: #FFF url('/images/1downarrow.png') no-repeat right;
    background: #FFF url('/images/1downarrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.iws_edit_form_grey select[multiple="multiple"] {
    height: 100px;
}

.iws_edit_form_grey textarea{
    height:100px;
}
.iws_edit_form_grey input[type="submit"] {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.iws_edit_form_grey input[type="submit"]:hover {
    background: #CF7A7A
}

/********** VOTE ************/
.iws_contextual {display:inline-block;margin-left: 20px;float: right;}
.iws_contextual .down_button {background: url(/plugin_assets/redmine_issue_wiki/images/thumb_down.png) no-repeat;float: left;height: 14px;width: 16px;cursor:pointer;margin-top: 3px;}
.iws_contextual .down_button:hover {background: url(/plugin_assets/redmine_issue_wiki/images/thumb_down.png) no-repeat 0px -16px;}
.iws_contextual .up_button {background: url(/plugin_assets/redmine_issue_wiki/images/thumb_up.png) no-repeat;float: left;height: 14px;width: 16px;cursor:pointer;}
.iws_contextual .up_button:hover{background: url(/plugin_assets/redmine_issue_wiki/images/thumb_up.png) no-repeat;;}
.voting_btn{float:left;margin-right:5px;}
.iws_contextual span{font-size: 11px;float: left;margin-left: 3px;}


/************** Wiki Comments ********************/
fieldset a.collapse { margin-left: 50%; }

.noteclassic, .noteimportant, .notewarning, .notetip, .commentform-box {
  margin: 1em;
  margin-left: 4em;
  margin-right: auto;
  width: 70% !important;
  min-height: 40px;
  clear: left;
  text-align: justify;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 15px 20px 20px 80px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
 
.noteclassic, .commentform-box {
  /*border: 1px solid #99D;*/
  background-color: #eef;
  background-image: url(../images/note.png);
}

.level0 {margin-left: 4em;}
.level1 {margin-left: 6em;}
.level2 {margin-left: 8em;}
.level3 {margin-left: 10em;}
.level4 {margin-left: 12em;}
.level5 {margin-left: 14em;}
.level6 {margin-left: 16em;}
.level7 {margin-left: 18em;}
.level8 {margin-left: 20em;}

.comments_container.collapsible a.collapse {padding-left: 12px; background: url(/images/arrow_collapsed.png) no-repeat -3px 40%;}
.comments_container.collapsible.collapsed a.collapse {background: url(/images/arrow_expanded.png) no-repeat -5px 40%;}

/**************** Comment form **********************/
.issue-wiki-edit { height: 90px; width: 100%; }

.commentform-btn {
  white-space: nowrap;
  line-height: 1.4em;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

